html {
    scroll-behavior: smooth;
}

/*--------------- Footer ---------------*/

footer {
    padding: 10px 40px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-img {
    width: 100px;
}